body {
    font-family: Arial, sans-serif;
    background: url('CossiBackground1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: transparent;
    color: White;
    padding: 10px;
}

h1, h2 {
    margin: 10px ;
}

.search-bar {
    margin-top: 10px;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 12px;
    margin-left: 5px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: lime green;
}

.clock-calendar {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#clock, #calendar {
    background-color: green;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.game h2 {
        color: white;
    margin-top: 30px;
}

.social-links h2 {
        color: white;
    margin-top: 30px;
}

.links a {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.links a:hover {
    background-color: lime green;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
    margin-top: 50px;
}

footer a {
    color: #87CEEB; /* Sky blue color */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
